$bgcolor: rgb(64, 37, 68);
$inputbgcolor: #1D1A31;
$primaryText: #fff;
form {
    display: flex;
    background: $bgcolor;
    color: $primaryText;
}

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background: $inputbgcolor;
}

button {
    border: none;
    background: none;
    color: $primaryText;
    outline: none;
    cursor: pointer;
}

label {
    background: #000;
}

input {
    border: none;
    background: none;
    outline: none;
    padding: 0.5rem;
    color: $primaryText;
}